<% analyses.each do |analysis| %>
  <% if analysis.file.present? %>
    Analysis duration time: <%= distance_of_time_in_words(analysis.created_at, analysis.file.created_at) %>
    <% if analysis.file.representable? %>
      <div>
        <%= image_tag analysis.file.representation(resize_to_limit: [800, 800]) %>
      </div>
      <%= link_to "Download", rails_blob_path(analysis.file, disposition: "attachment") %>
    <% else %>
      <%= link_to "Download", rails_blob_path(analysis.file, disposition: "attachment") %>
    <% end %>
  <% end %>
<% end %>