<%= link_to "Back", processings_path %>
<h1><%= "Wordcloud analysis for: #{@processing.title}" %></h1>

<%= render "processings/analysis", analyses: filter_analyses(@processing.analyses, :wordclouds) %>