<td><%= link_to 'Show', preprocessing_path(item) %></td>
<td><%= link_to 'Edit', edit_preprocessing_path(item) %></td>
<td><%= link_to 'Destroy', preprocessing_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>