<h1>Editing Preprocessing</h1>

<%= render 'form', preprocessing: @preprocessing, url: preprocessing_path %>

<%= link_to 'Show', preprocessing_path(@preprocessing) %> |
<%= link_to 'Back', preprocessings_path %>
