<div class="row">
  <div class="col">
    <h1>Preprocessings</h1>
  </div>
</div>

<%= render "shared/search", search_query: :title_or_client_cont do %>
  <%= link_to "New Preprocessing", new_preprocessing_path, class: "btn btn-outline-primary" %>
<% end %>

<%= render "processings/list", collection: @preprocessings %>
<%= paginate @preprocessings %>
