<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to OSP toolbox</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @services.each do |service| %>
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Name: <%= service[:name] %></h2>
            <p class="card-text">
              Code: <%= service[:status][:code] %></pcard-text>
              <br>
              Body: <%= display_pretty_json(service[:status][:body]) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
