@import "variables";

.row {
  padding-top: 2rem;
}

.card-actions {
  color: $deepBlue;
  text-decoration: none;

  .card {
    transition: transform 100ms ease-in-out;

    &:hover {
      background-color: $deepBlue;
      box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.5);
      color: $lightText;
      transform: scale(1.005);
    }

    .card-img-top {
      height: 100px;
      width: auto;
    }

    h2 {
      font-weight: bold;
    }
  }
}
